<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Edit category</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="selectedCategory">Select category</label>
        <select
          class="form-control"
          id="selectedCategory"
        [(ngModel)] = "currentCategoryId"
          (change)="onCategoryChange();"
          [ngModelOptions]="{standalone: true}"
        >
          <option *ngFor="let c of categories"
            value="{{c.id}}"
          >{{c.name}}</option>
        </select>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error':name.invalid&&name.touched}"
      >
        <label class="control-label" for="category-name">Введите название</label>
        <input
          class="form-control"
          type="text"
          id="category-name"
          name="name"
          #name="ngModel"
          required
          ngModel
        >
        <span *ngIf="name.invalid&&name.touched" class="form-help-text">Not empty</span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': capacity.invalid&&capacity.touched}"
      >
        <label class="control-label" for="category-value">Введите лимит</label>
        <input
          type="number"
          value="0"
          id="category-value"
          class="form-control"
          name="capacity"
          #capacity="ngModel"
          required
          ngModel
        >
        <span *ngIf="capacity.invalid&&capacity.touched" class="form-help-text">Not empty</span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        disabled="f.invalid"
      >Добавить</button>
    </form>
  </div>
</div>
